httpx==0.27.2
pydantic==2.9.2
pandas==2.2.2
numpy==1.26.4
APScheduler==3.10.4
pytz==2024.1
python-dateutil==2.9.0.post0
pandas_market_calendars==4.4.1
sqlalchemy==2.0.34
asyncpg==0.29.0
plotly==5.24.1
kaleido==0.2.1
tenacity==8.5.0
rich==13.8.1
python-dotenv==1.0.1
fastapi==0.115.0
uvicorn[standard]==0.30.0
boto3==1.34.162
